<!DOCTYPE html>
<html lang="en">
 <head> 
  <meta charset="utf-8" /> 
  <title>404 error page - 404pagefree.com</title> 
  <meta name="viewport" content="width=device-width, initial-scale=1" /> 
  <script src="404error/js/jquery.min.js"></script> 
  <link href="404error/css/bootstrap.min.css" rel="stylesheet" /> 
  <link href="404error/css/font-awesome.min.css" rel="stylesheet" /> 
  <link href="404error/css/style.css" type="text/css" rel="stylesheet" media="all" /> 
 </head> 
 <body> 
  
  <div class="error-header"> 
  </div> 
  <div class="container "> 
   <section class="error-container text-center"> 
    <h1>404</h1> 
    <div class="error-divider"> 
     <h2>Erro!</h2> 
     <p class="description"><%=msg%></p> 
    </div> 
    <a href="/" class="return-btn"><i class="fa fa-home"></i> Home</a> 
   </section> 
  </div> 
  <script src="404error/js/bootstrap.min.js"></script> 
 </body>
</html>