<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
<!--
Kool Store Template
http://www.templatemo.com/preview/templatemo_428_kool_store
-->
  <meta charset="utf-8">
  <title>Bem Vindo!</title>

  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">

  <%-include('core_includes/top_links.ejs')%>

</head>
<body>
  <!--[if lt IE 7]>
  <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
  <![endif]-->

  <%-include('core_includes/header.ejs')%>

  <div class="content-section">

    <div class="container">

      <div class="row">

        <div class="col-md-8">
          <div id="aboutUsContent">
            <p>Sobre nós</p>          
            <p>
            JavaScript (JS) is a lightweight interpreted or just-in-time 
            compiled programming language with first-class functions.
            While it is most well-known as the scripting language for Web 
            pages, many non-browser environments also use it, such as Node.js,
            Apache CouchDB and Adobe Acrobat.
            </p>
            <p>
            JavaScript (JS) is a lightweight interpreted or just-in-time 
            compiled programming language with first-class functions.
            While it is most well-known as the scripting language for Web 
            pages, many non-browser environments also use it, such as Node.js,
            Apache CouchDB and Adobe Acrobat.
            </p>
            <p>
            JavaScript (JS) is a lightweight interpreted or just-in-time 
            compiled programming language with first-class functions.
            While it is most well-known as the scripting language for Web 
            pages, many non-browser environments also use it, such as Node.js,
            Apache CouchDB and Adobe Acrobat.
            </p>
          </div>
        </div> <!-- /.col-md-8 -->
        <div class="col-md-4 col-sm-8">
          <div class="product-item-2">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <a href="/">Home</a>
          </div> 
          <div class="product-item-2">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <a href="contact/">Contate-nos</a>
          </div> 
          <div class="product-item-2">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <a href="/login">Entrar</a>
          </div> 
          <div class="product-item-2">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <a href="/register">Cadastrar-se</a>
          </div>
        </div> <!-- /.col-md-4 -->
      </div> <!-- /.row -->

    </div> <!-- /.container -->
  </div> <!-- /.content-section -->

  <div class="content-section">
    <div class="container">
      May be you will want place something here
    </div> <!-- /.container -->
  </div> <!-- /.content-section -->

  <%-include('core_includes/footer.ejs')%>

  <%-include('core_includes/bottom_scripts.ejs')%>

</body>
</html>