<footer class="site-footer">

  <div class="main-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<div class="footer-widget">
						<h3 class="widget-title">Sobre Nós</h3>
						<div id="aboutUs" class="short-text">
							<a href="/about_us"title="Vêr mais...">
								<%=aboutUs.text%>
							</a>
						</div>
						<ul class="follow-us">
							<li><a href="<%=socialNW.facebook%>"><i class="fa fa-facebook"></i>Facebook</a></li>
							<li><a href="<%=socialNW.twitter%>"><i class="fa fa-twitter"></i>Twitter</a></li>
						</ul> <!-- /.follow-us -->
					</div> <!-- /.footer-widget -->
				</div> <!-- /.col-md-3 -->
					<div class="col-md-3">
						<div class="footer-widget">
							<h3 class="widget-title">Porque Escolher nossos produtos?</h3>
							<%=whyOurProducts.text%>
						</div> <!-- /.footer-widget -->
					</div> <!-- /.col-md-3 -->
					<div class="col-md-2">
						<div class="footer-widget">
							<h3 class="widget-title">Links Úteis</h3>
							<ul>
								<li><a href="/">Nossos Produtos</a></li>
								<li><a href="/about_us">Sobre Nós</a></li>
								<li><a href="/contact">Contato</a></li>
								<li><a href="/register">Registrar-se</a></li>
								
							</ul>
						</div> <!-- /.footer-widget -->
					</div> <!-- /.col-md-2 -->
					<div class="col-md-4">
						<div class="footer-widget">
							<h3 class="widget-title">Assine nossa Newsletter</h3>
							<div class="newsletter">
								<form action="/newslatter" method="post">
									<p>Assine para receber nossas atualizações e saber sobre novos produtos</p>
									<input type="email" title="Email" name="email" placeholder="Seu Email Aqui">
									<input type="submit" class="s-button" value="Enviar" name="Enviar">
								</form>
							</div> <!-- /.newsletter -->
						</div> <!-- /.footer-widget -->
					</div> <!-- /.col-md-4 -->
			</div> <!-- /.row -->
		</div> <!-- /.container -->
  </div> <!-- /.main-footer -->
  <div class="bottom-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<span>Copyright &copy; 2084 <a href="#">Company Name</a> | Design: <a href="http://www.templatemo.com">templatemo</a></span>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, expedita soluta mollitia accusamus ut architecto maiores cum fugiat. Pariatur ipsum officiis fuga deleniti alias quia nostrum veritatis enim doloremque eligendi?</p>
				</div> <!-- /.col-md-12 -->
			</div> <!-- /.row -->
		</div> <!-- /.container -->
  </div> <!-- /.bottom-footer -->
</footer> <!-- /.site-footer -->