<header class="site-header">
	<meta charset="utf-8">
  <div class="top-header">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<div class="top-header-left">
							<a href="/register">Cadastrar-se</a>
							<a href="/login">Entrar</a>
					</div> <!-- /.top-header-left -->
				</div> <!-- /.col-md-6 -->
				<div class="col-md-6 col-sm-6">
					<div class="social-icons">
						<ul>
							<li><a href="#" class="fa fa-facebook"></a></li>
							<li><a href="#" class="fa fa-dribbble"></a></li>
							<li><a href="#" class="fa fa-twitter"></a></li>
							<li><a href="#" class="fa fa-linkedin"></a></li>
						</ul>
						<div class="clearfix"></div>
					</div> <!-- /.social-icons -->
				</div> <!-- /.col-md-6 -->
			</div> <!-- /.row -->
		</div> <!-- /.container -->
  </div> <!-- /.top-header -->
  <div class="main-header">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-8">
					<div class="logo">
						<h1><a href="/">
							<img src="system-images/mylogo.svg" width="250px" 
							alt="emterprise logo">
						</a></h1>
					</div> <!-- /.logo -->
				</div> <!-- /.col-md-4 -->
				<div class="col-md-6 col-sm-6 col-xs-4">
					<div class="main-menu">
						<a href="#" class="toggle-menu">
								<i class="fa fa-bars"></i>
						</a>
						<ul class="menu">
							<li><a href="/">Home</a></li>
							<li><a href="/login">Entrar</a></li>
							<li><a href="/register">Cadastrar-se</a></li>
							<li><a href="/contact">Contato</a></li>
							<li><a href="/about_us">Sobre Nós</a></li>
						</ul>
					</div> <!-- /.main-menu -->
				</div> <!-- /.col-md-8 -->
			</div> <!-- /.row -->
		</div> <!-- /.container -->
  </div> <!-- /.main-header -->
  <div class="main-nav">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-7">

					<div class="list-menu">
						<ul>

							<li><a href="/">Home</a></li>

							<li>

								<div class="dropdown">
									<a class="dropdown-toggle" data-toggle="dropdown" href="#">Categorias
									<span class="caret"></span></a>
									<ul class="dropdown-menu">
										<% for(let category of categories) { %>
										<li style="border-width: 0px">
											<a href="/?categoryId=<%=category.id%>">
											<%=category.name%>
											</a>
										</li>
										<% } %>
									</ul>
								</div>

							</li>

							<li><a href="/contact">Contato</a></li>
						</ul>
					</div> <!-- /.list-menu -->

				</div> <!-- /.col-md-6 -->

				<div class="col-md-6 col-sm-5">
					<div class="notification">
						<a
							href="/access_cart"
							title="Click para acessar o carrinho!">
							<span class="glyphicon glyphicon-shopping-cart">
								<% if(typeof cart != 'undefined') { %>
										<%=cart.length%> produtos
								<% } %>
							</span>
						</a>
					</div>
				</div> <!-- /.col-md-6 -->
			</div> <!-- /.row -->
		</div> <!-- /.container -->
  </div> <!-- /.main-nav -->
</header> <!-- /.site-header -->
