<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="/upload/user/<%=user.image%>" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p><%=user.email%></p>
        
      </div>
    </div>
    
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">

      <li class="header">NAVEGAÇÃO PRINCIPAL</li>  

      <li>
        <a href="/" 
        onclick="commandBackToSite()">
          <i class="fa fa-external-link"></i> <span>Ir Para O Site</span>
          
        </a>
      </li>
            
      <li class="treeview">
      
        <a href="/">
          <i class="fa fa-cart-plus"></i> <span>Pedidos</span>
          
        </a>


        <ul class="treeview-menu">
          <li><a href="/pedidos">
            <i class="fa fa-angle-right"></i>Todos</a>
          </li>          
          <li><a href="/pending_orders"><i class="fa fa-filter"></i>Pendentes</a></li>
          <li><a href="/received_orders"><i class="fa fa-filter"></i>Atendidos</a></li>
        </ul>
      </li>

      <li>
        <a href="client_profile" 
        onclick="commandBackToSite()">
          <i class="fa fa-user-circle-o"></i> <span>Perfil</span>
          
        </a>
      </li>
      
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>

